*{
   padding: o;
   margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

header nav {
   
   background-color: black;
}

header nav ul li{
    display: inline-block;
    color: white;
    padding: 20px;
    padding-left: 250px;
    font-size: larger;

}
header nav ul li a{
    color: #f1f1f1;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.box{
    background-image: url(assets/cafe.jpg);
    height: 650px;
    width: 2050px;

}
.box h1{
    color: black;
    font-size: xx-large;
    padding: 15px;
    font-family: cursive;
    font-size: xx-large;
    position: relative;
    top: 530px;
    left: 1500px;
    font-weight: bolder;
    text-decoration: line-through;
    background-color: #f1f1f1;
  
}
.box1{
    margin-top: 70px;
    margin-left: 160px;
    margin-right: 160px;
   float: left;


}
.box1 a{
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 15px;
    font-size: x-large;
    text-decoration: none;
    font-weight: bold;
}
.box1 a::before{
    content: '📅';
    padding-right: 9px;
}

.box1 a:hover{
    background-color: grey;
}

.box2{
    margin-top: 74px;
    float: left;
    margin-right: 160px;
    
}
.box2 a{
    color: black;
    border: 1px solid black;
    border-radius: 30px;
    padding: 15px;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
}

.box2 a::before{
 content: '➤';   
 padding-right: 9px;
}

.box2 a:hover{
    background-color: grey;
}

.box3{
    margin-top: 60px;
    float: left;
    margin-right: 160px;
}

.box3 button{
    border: 1px solid black;
    border-radius: 30px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
 
}
.box3 button::before{
    content: '🤍';  
    padding-right: 9px; 
}
.box3 button:hover{
    background-color: grey;
}

.box4{
    margin-top: 76px;
    

}

.box4 a{
    border: 1px solid black;
    border-radius: 30px;
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: larger;
    text-decoration: none;
    font-weight: bold;
 
}
.box4 a::before{
    content: '📞';
    padding-right: 9px; 
}

.box4 a:hover{
    background-color: grey;
}
